article {
    display: flex;
    justify-content: center;
    align-items: center;

    .card-box-container {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-content: center;

        .card-container {
            width: auto;
            margin-top: 1rem;

            .cart-cards-content {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}

.cart-typography-container {
    line-height: 2rem;
    font-size: 1rem;
}

.cart-btns-container {
    margin-top: 1rem;

    .cart-proceed-btn {
        margin-right: 1rem;
    }

    .cart-clear-btn {
        margin-left: 1rem;
    }
}
