.category-selector-container {
  width: 12rem;
}

.categories-options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.categories-menu-links {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
