.card-btn-item {
  width: 1;
  height: 50rem;

  .card-item {
    width: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    .item-img-card-content {
      display: flex;
      justify-content: center;
      align-content: flex-end;

      img {
        width: 20rem;
      }
    }
  }
}
