.items-card-container {
    .card-item {
        height: 25rem;
        display: flex;
        flex-direction: column;
        border-radius: 0;

        .card-content-container {
            display: flex;
            flex-direction: column;

            .item-action-area {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 23rem;
                border-radius: 0;

                .item-card-img {
                    img {
                        object-fit: contain;
                    }
                }

                .card-item-title,
                .card-item-rating,
                .card-item-price {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1rem;
                    font-size: 100%;
                    text-align: center;
                }

                .card-item-title {
                    font-weight: 500;
                }

                .card-item-price {
                    font-weight: bold;
                    letter-spacing: 0.1rem;
                    font-size: 1rem;
                }

                .card-item-rating {
                    font-size: 0.7rem;
                    color: gray;
                }

                .item-btn {
                    display: flex;
                    width: 100%;
                    padding: 0;
                    border-radius: 0;
                    button {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}
