.items-card-container {
  .card-btn-item {
    .card-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 25rem;
      width: 100%;
    }

    .item-img-card-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      object-fit: contain;
    }

    .card-item-title {
      font-weight: 500;
      font-size: auto;
      text-align: center;
    }

    .card-item-price {
      font-weight: 600;
      font-size: auto;
      align-self: flex-start;
    }
  }
}
