header {
  padding: 0;
  margin: 0;

  .navbar-toolbar {
    padding: 0;
    margin: 0;

    .navbar-container {
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
      margin-top: 0;
      padding: 0;
      flex-direction: row;

      .nav-title {
        font-size: 2rem;
        font-family: monospace;
        font-weight: bold;
        letter-spacing: normal;
        color: rgb(255, 0, 0);
        text-align: center;
      }

      .settings-btn {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.home-link-container {
  margin: 0 0 0 2rem;
  display: flex;
  align-items: center;
}
