header {
  padding: 0;
  margin: 0;

  .navbar-toolbar {
    padding: 0;
    margin: 0;

    .navbar-container {
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
      margin-top: 0;
      padding: 0;
      flex-direction: row;

      .settings-btn {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.nav-title {
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: normal;
  color: rgb(255, 0, 0);
  text-align: center;
}

.category-selector-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
  margin-top: 0.5rem;
}

.home-link-container {
  margin: 0 0 0 2rem;
  display: flex;
  align-items: center;
}
