.navbar-grid-container {
  justify-content: space-around;
  align-content: center;
  border: 1px solid black;
}

.navbar-grid-items {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  align-items: center;
}

.nav-title {
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: normal;
  color: rgb(255, 0, 0);
  text-align: center;
}
