.navbar-grid-container {
  justify-content: center;
  align-content: center;

  @media (min-width: 600px) {
    padding: 0;
  }

  .navbar-grid-items {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 600px) {
      justify-content: center;
    }

    .navbar-menu-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: auto;
      min-width: auto;
      padding: 0;
    }

    .nav-title {
      font-size: 4rem;
      font-family: 'Nabla', cursive;
      text-align: center;

      @media (max-width: 720px) {
        font-size: 3rem;
      }
    }
  }
}
