header {
  .header-grid-container {
    justify-content: space-around;
    align-content: center;
    border: 1px solid black;
    height: 2.5rem;

    .header-grid-items {
      display: flex;
      border: 1px solid black;
      justify-content: space-around;
      align-items: center;
      height: 2.5rem;

      .header-menu-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 2.5rem;
      }
    }
  }
}
