.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.user-settings-container {
  margin-right: 2rem;
}

#menu-appbar {
  margin-top: 3rem;
}
